<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>index</title>
</head>

<body>


  <% if (currentUser) { %>

  <nav class="nav">
    <button onclick="location.href='/send-message'">send message</button>

    <button onclick="location.href='/log-out'">Log Out</button>

  </nav>

  <div class="messages-div">
    <% user.forEach(row => { %>
    <div class="message-div">

      <div class="name">
        <h4><%= row.username %>:</h4>
      </div>

      <div class="title">
        <h2><%= row.title  %></h2>
      </div>

      <div class="message">
        <p><%= row.message %></p>
      </div>

      <% if (status == "admin") { %>
      <div class="delete-btn-div">
        <button class="delete-btn" onclick="confirmDelete(event, <%= row.message_id %>)">Delete</button>
      </div>
      <% } %>


    </div>
    <% }) %>
  </div>


  <% } else { %>

  <nav class="nav">
    <button onclick="location.href='/sign-up'">sign-up</button>
    <button onclick="location.href='/log-in'">Log in</button>
  </nav>

  <% } %>



  <script>
    function confirmDelete(event, id) {
      const confirmBtn = confirm("Are you sure");

      if (!confirmBtn) {
        event.preventDefault();
      } else {
        window.location.href = `/deleteMessage/${id}`;
      }
    }
  </script>

</body>

</html>