<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>message</title>
</head>

<body>
  <form action="/send-message" method="post">
    <label for="title">* title:</label>
    <input type="text" name="title" class="title inputs" required>

    <label for="message">* message: </label>
    <textarea name="message" class="title textarea" rows="4" col="50" required> </textarea>

    <button>submit</button>
  </form>
</body>

</html>