<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sign-up</title>
</head>

<body>
  <h1>sign up</h1>

  <% if (sameUsername) { %>
  <h1>this username already exists</h1>
  <% } %>

  <form action="/sign-up" method="POST">


    <label for="username">* username</label>
    <input class="username inputs" name="username" placeholder="username" type="text" required />

    <label for="email">email</label>
    <input class="email inputs" name="email" placeholder="email" type="email" />

    <label for="password">* password</label>
    <input class="passwordnputs" name="password" placeholder="password" type="password" required />

    <button type="submit">sign-in</button>
  </form>

  <button onclick="location.href='/log-in'">Log In</button>

</body>

</html>